<h2>Ingresar estudiante</h2>

<form [formGroup]="formularioRegistro">
<div>
    
        <label for=" " class="obligatorio" > Nombre:</label>
      <input type="text" formControlName="nombre">
      
      <br>
        <label for=" "> Edad </label>
            <input type="number" formControlName="edad" ng-mode="formularioRegistro.edad">
            <br>
        <label for=" "> Correo </label>
        <input type="email" formControlName="correo">
        <br>
      <hr>
    <button mat-button color="primary" (click)="inhabilitadoAlerta()" type="submit">Ingresar!</button>
</div>
    
</form>


